<a href="https://colab.research.google.com/github/kkeellyy33/Micro-credential/blob/main/Day3_Basics_Part_III.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Intro to Python Part III

## Conditionals & Loops!!!

## Conditionals

### IF...ELIF...ELSE Statements

In [ ]:
'''
if (condition):
  do something
'''

In [2]:
if 3>2:
  print('Right')

Right

In [3]:
if 4>7:
  print('right')
else:
  print('wrong')

wrong

In [4]:
a = 3
b = 5

if a>b:
  print('Yes, it is rigth')
else:
  print('Try again')

Try again

In [6]:
drink = 'Tea'

if drink == 'Coffee':
  print('Humanity runs on coffee')
else:
  print('Where there is a Tea, There is a hope')

Where there is a Tea, There is a hope

In [8]:
drink = 'Coke'

if drink == 'Coffee':
  print('Humanity runs on coffee')
  # if the condition does not meet, it goes to the following 'elif' statemet
elif drink == 'Water':
  print('water is the soul of earth')
elif drink == 'Coke':
  print('Best beverage ever')
  # if none of the 'elif' statements were met either, it goes to the 'else' statement
else:
  print('Try again')

Best beverage ever

## Loops

### For.Loop

In [ ]:
'''
for iterator in array:
  do something
'''

In [10]:
my_list = [1,2,3,4,5,6,7,8,9,10]

In [11]:
for num in my_list:
  print(num)

1
2
3
4
5
6
7
8
9
10

In [12]:
for i in my_list:
  if i % 2 == 0:
    print(i)

2
4
6
8
10

In [ ]:
my_list = [1,2,3,4,5]
list_sum = 0

for num in my_list:
  list_sum = list_sum + num
print(list_sum)

In [13]:
my_list = [(1,2,3),(4,5,6),(7,8,9)]

In [14]:
for a,b,c in my_list:
  print((b,c))

(2, 3)
(5, 6)
(8, 9)

In [17]:
my_dict = {'k1':1, 'k2':2,'k3':3}

In [18]:
for i in my_dict:
  print(i)

k1
k2
k3

In [19]:
my_dict.items()

dict_items([('k1', 1), ('k2', 2), ('k3', 3)])

In [20]:
for i in my_dict.items():
  print(i)

('k1', 1)
('k2', 2)
('k3', 3)

In [21]:
for a,b in my_dict.items():
  print(b)

1
2
3

## While Loops!

In [22]:
i = 0

while i < 5:
  print(i)
  i = i + 1

0
1
2
3
4

In [23]:
i = 0

while i < 5:
  print(i)
  i = i + 1
else:
  print('i is not less than 5')

0
1
2
3
4
i is not less than 5

In [24]:
i = 10

while i < 5:
  print(i)
  i = i + 1
else:
  print('i is not less than 5')

i is not less than 5

## Pass, Break and Continue

In [25]:
l = [1,2,3,4,5]

for itmes in l:
  # Content
  pass
print('I will work after!!!')

I will work after!!!

In [27]:
my_string = 'Hello World'

for letters in my_string:
  if letters == 'r':
    break
  print(letters)

H
e
l
l
o

W
o

In [28]:
my_string = 'Hello World'

for letters in my_string:
  if letters == 'e':
    continue
  print(letters)

H
l
l
o

W
o
r
l
d

In [29]:
i = 0
while i < 5:
  if i == 3:
    break
  print(i)
  i = i + 1

0
1
2

## Most used Built-in functions in Python

### 1) Range function

In [30]:
for num in range(10):
  print(num)

0
1
2
3
4
5
6
7
8
9

In [31]:
for num in range(3,10):
  print(num)

3
4
5
6
7
8
9

In [32]:
for num in range(0,11,2):
  print(num)

0
2
4
6
8
10

In [33]:
my_list = [1,2,3,4,5,6,7,8,9,10]
range(10)
list(range(10))
list(range(1,11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

### 2) Enumerate

it gives back us an index count and object itself

In [34]:
word = 'batman'
for items in word:
  print(items)

b
a
t
m
a
n

In [35]:
for items in enumerate(word):
  print(items)

(0, 'b')
(1, 'a')
(2, 't')
(3, 'm')
(4, 'a')
(5, 'n')

In [36]:
for a,b in enumerate(word):
  print(a,b)

0 b
1 a
2 t
3 m
4 a
5 n

In [37]:
for a,b in enumerate(word):
  print(a)
  print(b)
  print('\n')

0
b


1
a


2
t


3
m


4
a


5
n

### 3) zip

In [38]:
list1 = [1,2,3,4,5]
list2 = ['a','b','c','d','e']
list3 = ['a','b','d']

In [39]:
list4 = zip(list1,list2)

In [40]:
print(list4)

<zip object at 0x7faead7d6820>

In [41]:
for items in zip(list1,list2):
  print(items)

(1, 'a')
(2, 'b')
(3, 'c')
(4, 'd')
(5, 'e')

In [42]:
for a,b in zip(list1,list2):
  print(a,b)

1 a
2 b
3 c
4 d
5 e

In [44]:
for items in zip(list1, list2, list3):
  print(items)

(1, 'a', 'a')
(2, 'b', 'b')
(3, 'c', 'd')

In [45]:
for a,b,c in zip(list1, list2, list3):
  print(b)

a
b
c